[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GAReg"]
	path = GAReg
	url = https://github.com/mli171/gareg
[submodule "changepointGA"]
	path = changepointGA
	url = https://github.com/mli171/changepointga
